body {
  background-image: url(https://vignette.wikia.nocookie.net/marveldatabase/images/e/e1/The_Marvel_Universe.png/revision/latest?cb=20110513164401);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-muted {
  color: rgb(62, 20, 60);
}

.last-seconds {
  color: rgb(61, 54, 54);
}

.option {
  margin: 15px;
}